body{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color:#d5d9e0;
	padding: 25px;

}


.jumbotron{
	background-color: #19290d;
	color: #d5d9e0;
	font-family: 'Lalezar', cursive;
	font-size: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: .5%;
	padding-bottom: 2%;
}

h3{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: #d5d9e0;
	font-size: 30px;
	padding: 25px;
}

img{
	border-radius: 6px;
	width: 50%;
	margin: 0 auto;
	padding:25px;
}

#currentWord, #guessesLeft, #lettersGuessed, #wins, #losses{
	font-size: 24px;
}

.left{
	background-color: #19290d;
	border-radius: 6px;
}

.right{
	padding-right: 0;
}

.row{
	border-radius: 6px;
}


.row.match-my-cols {
    overflow: hidden; 
}

/*.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;

}*/

@media screen and (max-width: 767px){
	img{
		width: 50% !important;
	}
	.left{
		padding-top: 20px;
	}